/* External fonts imports */
@font-face {
    font-family: BonheurRoyale;
    src: url(../fonts/BonheurRoyale-Regular.ttf);
}
@font-face {
    font-family: Buda;
    src: url(../fonts/Buda-Light.ttf);
}

/* css of the body of the page (affects all) */
body {
    font-family: Buda, cursive !important	;
    margin:0;
    padding:0;
}

a { 
    text-decoration: none !important;
}

/* make a button look like a link */
.btnLookLikeLink {
    background: none!important;
    border: none;
    cursor: pointer;
}

/* to center the elements horizontally */
.center {
    margin:0 auto;
}

/* css for the background image */
.background-image {
    position: fixed;
    min-height: 100%;
    z-index:-50;
    filter: opacity(50%) ;
    filter:contrast(100%);
    
}



/* css pour un titre (page d'accueil) */
.titre {
    font-size: 40px;
    color: white;
}
/* css pour accès (page d'accueil) */
.access {
    color: white;
    font-size: 30px;
}
/* elements in the second row of the home page */
.home-elements {
    padding-top:90px;
}

/* App logo */
.logo {
    width: 190px;
    margin-bottom: -70px;
}

.logo-navbar {
    width: 75px;
}

.montre {
    width: 150px;
    margin-top: 20px;
    filter:contrast(150%);
    
}

/* tableau de bord */
.coeur {
    width: 125px;
}
.chute {
    width: 110px;
}
.db {
    width: 125px;
    margin-top: -5px;
}

.temp {
    width: 150px;
}
 
.envi {
    width: 175px;
}

.logo-container {
    width:125px;
    height:125px;
    border-radius: 50%;
    background: none !important;
    padding:1px;
    margin-top: -100px;
    margin-left: -70px;
}
.lien_compte {
    color: white;
}

/* Home links next to the app logo */
#homelink-left {
    margin-top: 70px;
    transition:0.5s;
}

#homelink-right {
    transition:0.5s;
}

#homelink-left:hover {
    font-size:37px;
    margin-left:-10px;
}

#homelink-right:hover {
    font-size:37px;
    margin-left:10px;
}
.navbar navbar-expand-lg bg-light {
    margin-top: 20px;
}


/* classes of user profile */
.user_profile_tabs {
    transition: 1.5s;
}
button.user_profile_tabs.active {
    color: black !important;
    text-decoration: underline !important;
}

/* classes of user modification */
.user_modification_tabs {
    transition: 1.5s;
}
button.user_modification_tabs.active {
    color: black !important;
    text-decoration: underline !important;
}

/* footer n°1*/
.footer {
margin-top: 50px;
padding:40px 0;
}

.footer ul {
padding:0;
list-style:none;
line-height:1.6;
font-size:24px;
margin-bottom:0;
}

.footer ul a {
color:black;
text-decoration:none;
opacity:0.8;
}

.footer ul a:hover {
opacity:1;
}

.footer .item.text {
margin-bottom:36px;
}

@media (max-width:767px) {
.footer .item.text {
margin-bottom:0;
}
}

.footer .item.text p {
opacity:0.8;
margin-bottom:0;
font-size:18px;
}

.footer .copyright {
text-align:center;
padding-top:24px;
opacity:0.8;
font-size:13px;
margin-bottom:0;
}
.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

/* footer n°2*/
.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
/*font-size: 24px;*/
margin: 0 10px;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}