/* External fonts imports */
@font-face {
    font-family: BonheurRoyale;
    src: url(../fonts/BonheurRoyale-Regular.ttf);
}
@font-face {
    font-family: Buda;
    src: url(../fonts/Buda-Light.ttf);
}

/* css of the body of the page (affects all) */
body {
    font-family: Buda, cursive !important	;
    margin:0;
    padding:0;
}

a { 
    text-decoration: none !important;
}

/* make a button look like a link */
.btnLookLikeLink {
    background: none!important;
    border: none;
    cursor: pointer;
}

/* to center the elements horizontally */
.center {
    margin:0 auto;
}

/* css for the background image */
.background-image {
    position:fixed;
    min-height: 100%;
    z-index:-50;
    filter: opacity(100%) ;
    filter:contrast(100%);
    
}


/* css pour un titre (page d'accueil) */
.titre {
    font-size: 65px;
    color: white;
}
/* css pour accès (page d'accueil) */
.access {
    color: white;
    font-size: 35px;
}
/* elements in the second row of the home page */
.home-elements {
    padding-top:90px;
}

/* App logo */
.logo {
    width: 190px;
    margin-bottom: -70px;
}

.logo-navbar {
    width: 75px;
}

.montre {
    width: 150px;
    margin-top: 20px;
    filter:contrast(150%);
}
.logo-container {
    width:125px;
    height:125px;
    border-radius: 50%;
    background: none !important;
    padding:1px;
    margin-top: -100px;
    margin-left: -70px;
}
.lien_compte {
    color: white;
}

/* Home links next to the app logo */
#homelink-left {
    margin-top: 70px;
    transition:0.5s;
}

#homelink-right {
    transition:0.5s;
}

#homelink-left:hover {
    font-size:37px;
    margin-left:-10px;
}

#homelink-right:hover {
    font-size:37px;
    margin-left:10px;
}
.navbar navbar-expand-lg bg-light {
    margin-top: 30px;
}


/* classes of user profile */
.user_profile_tabs {
    transition: 1.5s;
}
button.user_profile_tabs.active {
    color: black !important;
    text-decoration: underline !important;
}